<web-app xmlns="http://xml ns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  <servlet>
    <servlet-name>PizzaServlet</servlet-name>
    <servlet-class>com.nswi145.PizzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaServlet</servlet-name>
    <url-pattern>/PizzaServlet</url-pattern>
  </servlet-mapping>
</web-app>